@import './base/variables';
@import './base/extend';

@import './sections/botones';
@import './sections/galeria';
@import './sections/footer';
@import './sections/index';
@import './sections/form';
@import './sections/query';


/* RESETEO Y ESTILOS GLOBALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* APLICADO A VARIOS CONTENEDORES/ SOLUCIONA SCROLL PARA RESPOSIVE */
  .row {
    justify-content:center;
    margin-right: 0;
    margin-left: 0;
  }

   /* FORMATO H1 PARA TODOS LOS HTML */
  
   h1{
    @extend %tituloPrincipal;
  }

  h5{
    color: black;
    font-size: x-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* NAV */
  .container-fluid img {
    width: 100px;
  }

  /* PÁRRAFOS HTML SEGUROS */
    .animate__animated {
      p {
        @include estiloTexto(20px);
      }
  
      li {
        @include estiloTexto(12px);
      }
    }
