 /* BOTÓN (X) */
  
 .close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgb(65, 63, 63);
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  }
  
  /* BOTÓN NEXT */
  
  
  .next{
    display: block;
    background: rgb(65, 63, 63);
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  // Social bar//
  .social{
    position: fixed;
    left: 0;
    top: 250px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
  display:inline-block;
  color: white;
  background-color: darkgray;
  padding:10px 10px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
 
}
.social ul li .fa-facebook-f {
    background: #0408f0;    
    border-radius: 5px;
}
.social ul li .fa-instagram {
    background: #d214b9f0;
    border-radius: 5px;

}
.social ul li .fa-whatsapp {
    background: #40f060;
    border-radius: 5px;

}
.social ul li a:hover {
    padding: 10px  15px;
    background: #000;
}

// Scroll Bar//

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  background: gainsboro;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient( #01BDF2 1.91%, #7368F7 25.04%, #E512FD 46.73%, #FF3EA8 67.98%, #FFB802 92.3%);
  border-radius: 100px;
  border: 3px solid gainsboro;
}
