 /* FOOTER */
 .fa-instagram:hover {
    color: rgba(202, 20, 156, 0.938);
  }
  
  .fa-facebook-f:hover {
    color: rgba(9, 9, 247, 0.897);
  }
  
  .fa-whatsapp:hover {
    color: darkgreen;
  }
  
  
  .footer-ul {
    list-style: none;
  }