/* EXTEND */
%tituloPrincipal {
    font-weight: 400;
  text-align: center;
  padding: 10px 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.993);
  font-weight: bold;
}

%efectoImg  {
  filter: blur(1.5px);
  transform: rotate(10deg) scale(1.3);
}

/* MIXIN */
@mixin estiloTexto ($size) {
    font-size: $size;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: lighter;
}


